<div class="contact-container">
  <p class="contact-title">Contact Us</p>
  <form class="contact-form" action="">
    <input
      class="contact-form-input"
      type="text"
      id="name"
      name="name"
      placeholder="Your Name"
    />
    <input
      class="contact-form-input"
      type="email"
      id="email"
      name="email"
      placeholder="Your Email"
      required
    />
    <input
      class="contact-form-input"
      type="phone"
      id="phone"
      name="phone"
      placeholder="Your Phone Number"
    />
    <textarea
      class="contact-form-textarea"
      id="message"
      name="message"
      rows="6"
      maxlength="3000"
      placeholder="Your Message"
      required
    ></textarea>
    <button class="contact-form-btn" type="submit" id="fcf-button">
      Submit
    </button>
  </form>
</div>
