<div class="footer-container">
  <div class="footer-container-top">
    <span class="footer-container-top-section1 footer-container-top-section">
      <p class="footer-container-top-section-title">A2INFOSOLUTIONS</p>
      <span class="footer-container-top-section1-el">
        <p>Img</p>
        <p>Sukabumi Utara, Indonesia</p>
      </span>
      <span class="footer-container-top-section1-el">
        <p>Img</p>
        <p>A2INFOSOLUTIONS@yahoo.co.id</p>
      </span>
      <span class="footer-container-top-section1-el">
        <p>Img</p>
        <p>022 4567 8976</p>
      </span>
      <span class="footer-container-top-section1-el">
        <p>Follow Us On:</p>
        <span class="footer-container-top-section1-el-links">
          <p>Img</p>
          <p>Img</p>
          <p>Img</p>
        </span>
      </span>
    </span>
    <span class="footer-container-top-section2 footer-container-top-section">
      <p class="footer-container-top-section-title">Quick Access</p>
      <ul class="footer-container-top-section-links">
        <li>RPA</li>
        <li>Big Data</li>
        <li>BI & Analytics</li>
        <li>Data Integration</li>
        <li>Cloud Computing</li>
      </ul>
    </span>
    <span class="footer-container-top-section3 footer-container-top-section">
      <p class="footer-container-top-section-title">Important Links</p>
      <ul class="footer-container-top-section-links">
        <li routerLink="/about">About Us</li>
        <li routerLink="/clients">Our Clients</li>
        <li routerLink="/how-can-we-help">How Can We Help</li>
        <li routerLink="/contact">Contact</li>
        <li>Career</li>
      </ul>
    </span>
    <span class="footer-container-top-section4 footer-container-top-section">
      <p class="footer-container-top-section-title">A2INFOSOLUTIONS Culture</p>
      <p class="footer-container-top-section4-text">
        At WTS, we hire people, then give them the freedom to put their
        considerable skills to use. The respect we show our employees is
        returned to us. We see it in the passion they have for their work, the
        loyalty they have for the company and the satisfaction of our clients.
      </p>
    </span>
  </div>
  <span class="footer-copyright"
    >Copyright @A2INFOSOLUTIONS 2022 All Right Reserved</span
  >
</div>
