<div class="navbar-container">
  <span routerLink="/" class="logo">
    <p class="logoFirstLine">
      A2INFO <span class="logoSecondLine">SOLUTIONS</span>
    </p>
  </span>
  <ul class="navbar-menu">
    <li routerLink="/about" class="navbar-menu-item" routerLinkActive="active">
      About
    </li>
    <li
      routerLink="/services"
      routerLinkActive="active"
      class="navbar-menu-item"
    >
      Services
    </li>
    <li
      routerLink="/clients"
      routerLinkActive="active"
      class="navbar-menu-item"
    >
      Clients
    </li>
    <li
      routerLink="/products"
      routerLinkActive="active"
      class="navbar-menu-item"
    >
      Products
    </li>
    <li routerLink="/contact" class="navbar-menu-item btn">
      <button class="navbar-contact-btn">Contact Us</button>
    </li>
  </ul>
</div>
