<div class="home-container">
  <div class="home-section-one">
    <p class="home-title">
      <span class="home-title-shadow">Award-winning</span> information
      Technology Solutions with Over
      <span class="home-title-shadow">15 years of Experience</span>
    </p>
    <p class="home-section-one-desc">
      with A2INFOSOLUTIONS Reach more customers and grow your business potential
      online by building a website with us
    </p>

    <div class="home-section-one-btns">
      <button class="home-section-one-btn home-section-one-btn1">
        About Us
      </button>
      <button class="home-section-one-btn home-section-one-btn2">
        How Can We Help?
      </button>
    </div>
  </div>

  <div class="home-section-two">
    <p>
      Equipped with basic SEO techniques such as H1 H2 H3 and breadcrumbs so
      that the website is liked by search engines like Google, Bing etc.
      Equipped with basic SEO techniques such as H1 H2 H3 and breadcrumbs so
      that the website is liked by search engines like Google, Bing etc.
    </p>
  </div>

  <div class="home-section-three">
    <div class="home-section-three-about">
      <p class="home-section-three-about-title">
        What does A2INFOSOLUTIONS do?
      </p>
      <p class="home-section-three-about-desc">
        Analyzing Target Customers with the Right!
      </p>
    </div>
    <div class="home-section-three-box home-section-three-box1">
      <span class="home-section-three-box-logo">img</span>
      <span class="home-section-three-box-title home-section-three-box-title1"
        >BIGDATA</span
      >
      <span class="home-section-three-box-desc home-section-three-box-desc1"
        >Equipped with basic SEO techniques such as H1 H2 H3 and breadcrumbs so
        that the website is liked by search engines like Google, Bing etc.</span
      >
    </div>
    <div class="home-section-three-box home-section-three-box2">
      <span class="home-section-three-box-logo">img</span>
      <span class="home-section-three-box-title"
        >BUSINESS INTELLIGENCE & ANALYTICS</span
      >
      <span class="home-section-three-box-desc"
        >Equipped with basic SEO techniques such as H1 H2 H3 and breadcrumbs so
        that the website is liked by search engines like Google, Bing etc.</span
      >
    </div>
    <div class="home-section-three-box home-section-three-box3">
      <span class="home-section-three-box-logo">img</span>
      <span class="home-section-three-box-title">DATA INTEGRATION</span>
      <span class="home-section-three-box-desc"
        >Equipped with basic SEO techniques such as H1 H2 H3 and breadcrumbs so
        that the website is liked by search engines like Google, Bing etc.</span
      >
    </div>
    <div class="home-section-three-box home-section-three-box4">
      <span class="home-section-three-box-logo">img</span>
      <span class="home-section-three-box-title">CLOUD COMPUTING</span>
      <span class="home-section-three-box-desc"
        >Elegant and professional design, your website will have more value &
        attractive in the eyes of your visitors or customers.</span
      >
    </div>
    <div class="home-section-three-box home-section-three-box5">
      <span class="home-section-three-box-logo">img</span>
      <span class="home-section-three-box-title">IT STAFFING SERVICES</span>
      <span class="home-section-three-box-desc"
        >Easy to use even for new people and comes with documentation to make it
        easier</span
      >
    </div>
  </div>
  <div class="home-section-four">
    <div class="home-section-four-left">
      <p class="home-section-four-left-title1">Who is A2INFOSOLUTIONS?</p>
      <p class="home-section-four-left-title2">
        we are a service engaged in digital marketing
      </p>
      <p class="home-section-four-left-desc">
        Do not miss this opportunity. With our experience, Whello will find
        something unique in your brand. Analyze and try to follow what your
        audience really likes and is looking for, so that your customers will be
        more loyal to you.
      </p>
      <button routerLink="/contact" class="home-section-four-left-btn">
        Consult now
      </button>
    </div>
    <img
      class="home-section-four-image"
      src="https://carecontrolsystems.co.uk/identity-cms/wp-content/uploads/2021/09/Ongoing-Support-Developer-at-PC-Care-Control-Systems.jpg"
      alt="Man sitting at computer"
    />
  </div>
  <div class="home-section-five">
    <p class="home-section-title">We always prioritize customer satisfaction</p>
    <div class="home-section-five-bottom">
      <div class="home-section-five-box">
        <p class="home-section-five-box-title1">01</p>
        <p class="home-section-five-box-title2">set target customers</p>
        <p class="home-section-five-box-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat
        </p>
        <p class="home-section-five-box-link">Learn more ></p>
      </div>
      <div class="home-section-five-box">
        <p class="home-section-five-box-title1">02</p>
        <p class="home-section-five-box-title2">
          expand your business to the online realm
        </p>
        <p class="home-section-five-box-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat
        </p>
        <p class="home-section-five-box-link">Learn more ></p>
      </div>
      <div class="home-section-five-box">
        <p class="home-section-five-box-title1">03</p>
        <p class="home-section-five-box-title2">
          enjoy the results of selling online
        </p>
        <p class="home-section-five-box-desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat
        </p>
        <p class="home-section-five-box-link">Learn more ></p>
      </div>
    </div>
  </div>
  <div class="home-section-six">
    <p class="home-section-six-title">Our Partners</p>
    <span class="home-section-six-logos">
      <img
        class="home-section-six-logo home-section-six-aws"
        src="https://cdn.freebiesupply.com/logos/large/2x/aws-logo-logo-svg-vector.svg"
        alt="AWS Logo"
      />
      <img
        class="home-section-six-logo"
        src="https://logos-download.com/wp-content/uploads/2021/01/UiPath_Logo.png"
        alt="UiPath Logo"
      />
      <img
        class="home-section-six-logo home-section-six-blueprism"
        src="https://www.neoops.com/wp-content/uploads/2020/05/logo-blue-prism.png"
        alt="blueprism logo"
      />
      <img
        class="home-section-six-logo"
        src="https://channelmarketerreport.com/wp-content/uploads/2018/07/thoughtonomy-logo.png"
        alt="thoughotonomy logo"
      />
    </span>
  </div>
  <div class="home-section-seven">
    <p class="home-section-seven-title">Contact Us</p>
    <form class="home-section-seven-contact-form" action="">
      <input
        class="home-section-seven-contact-form-input"
        type="text"
        id="name"
        name="name"
        placeholder="Your Name"
      />
      <input
        class="home-section-seven-contact-form-input"
        type="email"
        id="email"
        name="email"
        placeholder="Your Email"
        required
      />
      <input
        class="home-section-seven-contact-form-input"
        type="phone"
        id="phone"
        name="phone"
        placeholder="Your Phone Number"
      />
      <textarea
        class="home-section-seven-contact-form-textarea"
        id="message"
        name="message"
        rows="6"
        maxlength="3000"
        placeholder="Your Message"
        required
      ></textarea>
      <button
        class="home-section-seven-contact-form-btn"
        type="submit"
        id="fcf-button"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<app-footer></app-footer>
